<div id="previews">
<% @panoramas.each do |panorama| %>
<div id="preview">
	<%= link_to panorama do %>
		<%= image_tag panorama.preview %>
	<% end %>
</div>
<% end %>
</div>
<div id="upload">
	<div id="dropzone">+</div>
	<input id="files" type="file" name="files[]" accept="image/jpeg" multiple>
</div>