@mixin unblurred-color {
  filter: blur(0px) grayscale(0%);
  -webkit-filter: blur(0px) grayscale(0%);
  -moz-filter: blur(0px) grayscale(0%);
  -ms-filter: blur(0px) grayscale(0%);
  -o-filter: blur(0px) grayscale(0%);
  -khtml-filter: blur(0px) grayscale(0%);
}

@mixin blurred-greyscale {
  filter: blur(2px) grayscale(100%);
  -webkit-filter: blur(2px) grayscale(100%);
  -moz-filter: blur(2px) grayscale(100%);
  -ms-filter: blur(2px) grayscale(100%);
  -o-filter: blur(2px) grayscale(100%);
  -khtml-filter: blur(2px) grayscale(100%);
}

@mixin unblurred-greyscale {
  filter: blur(0px) grayscale(100%);
  -webkit-filter: blur(0px) grayscale(100%);
  -moz-filter: blur(0px) grayscale(100%);
  -ms-filter: blur(0px) grayscale(100%);
  -o-filter: blur(0px) grayscale(100%);
  -khtml-filter: blur(0px) grayscale(100%);
}

#previews {
  box-sizing: border-box;
  border: 10px solid black;
  border-bottom:0px;

  img {
    max-width: 100%;
    border-bottom:8px solid black;

    @include unblurred-greyscale;

    &:hover {
      @include unblurred-color;
    }

    &.processing {
      @include blurred-greyscale;
      &:hover {
        @include blurred-greyscale;
      }
    }
  }
}

#fullsize {
	img {
		max-height:100%;
		min-height:100%;
		border: 10px solid black;
		box-sizing: border-box;
	}
}

#upload {
	padding: 4px;
	position: fixed;
	bottom: 0px;
	left: 40px;
	font:{
		weight: bold;
		size: 30pt;
	}
	background-color: white;
	color: grey;
	text-align: center;
	border: {
		top-left-radius: 4px;
		top-right-radius: 4px;
	}
}

#dropzone {
	width: 1.4em;
	height: 1.4em;
	border: {
		style: dashed;
		color: grey;
		width: 4px;
		radius: 4px;
	}
}