#previews {
	box-sizing: border-box;
	border: 10px solid black;
	border-bottom:0px;
	
	img {
		max-width: 100%;
		border-bottom:8px solid black;
		-webkit-filter: grayscale(100%);
		-moz-filter: grayscale(100%);
		-ms-filter: grayscale(100%);
		-o-filter: grayscale(100%);
		filter: grayscale(100%);
	}
	
	img:hover {
		filter: grayscale(0%);
		-webkit-filter: grayscale(0%);
		-moz-filter: grayscale(0%);
		-ms-filter: grayscale(0%);
		-o-filter: grayscale(0%);
	}
}

#fullsize {
	img {
		max-height:100%;
		border: 10px solid black;
		box-sizing: border-box;
	}
}

#upload {
	padding: 4px;
	position: fixed;
	bottom: 0px;
	left: 40px;
	font:{
		weight: bold;
		size: 30pt;
	}
	background-color: white;
	color: grey;
	text-align: center;
	border: {
		top-left-radius: 4px;
		top-right-radius: 4px;
	}
}

#dropzone {
	width: 1.4em;
	height: 1.4em;
	border: {
		style: dashed;
		color: grey;
		width: 4px;
		radius: 4px;
	}
}